@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
  }
body{
    margin: 0px;
}
.container{
    display: flex;
    margin: 0px;
}
.sidebar{
    display: flex;
    width: 25vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    background-image: url("back.avif");
 
}
.signup-cont{
    flex-direction: column;
    width: 75vw;
    height: 100vh;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px;
    width: 25vw;
    background-color: black;
    opacity: 0.6;
    top: 8rem;
    margin: 0px;
}
.logo>p{
    font-family: norse;
    color: white;
    font-size: 80px;
    
}
.logo>img{
    height: 127px;
    width: 85px;

}
.intro>p{
    width: 594px;
    margin: 15px;
}

.formfill{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputs{
    display: flex;
   gap: 30px

}

.inLower{
    display: flex;
    flex-direction: column;
   
}
input{
    width: 25vw;
    height: 20px;
    border-radius: 5px;
    border: 1px #E5E7EB solid;

}
input:focus{
    outline: none !important;
    border: 1px blue solid;
    box-shadow: 3px 3px 5px 1px gray;
    
    
}
.signup-cont{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;

}
.intro{
    background-color:  rgb(248, 246, 246);
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    font-size: 24px;
    flex: 1;
    padding: 20px;
}
.form{
    position:relative;
    box-shadow: 0px 4px 5px 1px gray; 
    flex: 1;
    padding: 20px;
}
.signupButton{
    background-color:  rgb(248, 246, 246);

    justify-content: center;
    font-size: 18px;  
    flex: 1;
    padding: 20px;
}
button{
    margin: 10px 0 10px;
    background-color: #596d48;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 16px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    

}
legend{
    margin-bottom: 10px;
}
